* {
  font-family: Verdana;
  background-color: black;
  color: grey;
}


h1 {
  font-size: 50px;
  text-align: center;
  color: white;

}

div {
  text-align: center;
}

a {
  font-size: 16px;
  text-decoration: underline;
  color: Aquamarine;
}
